.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 370px;
  padding: 16px;
  border-radius: 8px;
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #eff6ff;
  position: relative;
}

.toDo {
  background-color: rgb(220, 232, 247);
}
.inProgress {
  background-color: rgb(255, 252, 222);
}
.done {
  background-color: rgb(222, 250, 230);
}

:global(.dark) .toDo {
  background-color: rgb(26, 44, 94);
}
:global(.dark) .inProgress {
  background-color: rgb(88, 42, 16);
}
:global(.dark) .done {
  background-color: rgb(8, 71, 55);
}

.titleWrapper {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #d1d5db;
  position: relative;
  overflow: visible;
  align-items: center;
}

.columnTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #1d4ed8;

  flex-shrink: 0;
  margin-bottom: 8px;
}

.ellipsis {
  width: 30px;
  height: 30px;
  color: #4b5563;
}

:global(.dark) .ellipsis {
  color: #d1d5db;
}

:global(.dark) .columnTitle {
  border-bottom-color: #4b5563;
}

.toDoTitle {
  color: #1d4ed8;
}

.inProgressTitle {
  color: #b45309;
}

.doneTitle {
  color: #15803d;
}

:global(.dark) .toDoTitle {
  color: #93c5fd;
}

:global(.dark) .inProgressTitle {
  color: #facc15;
}

:global(.dark) .doneTitle {
  color: #86efac;
}

.containerWrapper {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  flex-grow: 1;
  min-height: 100px;
  padding-top: 4px;
}

.taskWrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.75rem;
  border-left-width: 4px;
  border-left-color: #3b82f6;
  display: flex;
  align-items: center;
  transition-property: box-shadow;
  transition-duration: 200ms;
}

:global(.dark) .taskWrapper {
  background-color: #374151;
}

.taskWrapper.toDo {
  border-left: 5px solid #1d4ed8;
}

.taskWrapper.inProgress {
  border-left: 5px solid #b45309;
}

.taskWrapper.done {
  border-left: 5px solid #15803d;
}

:global(.dark) .taskWrapper.toDo {
  border-left: 5px solid #93c5fd;
}

:global(.dark) .taskWrapper.inProgress {
  border-left: 5px solid #facc15;
}

:global(.dark) .taskWrapper.done {
  border-left: 5px solid #86efac;
}

.taskContainer {
  display: flex;
  flex-direction: column;
}

.taskTitle {
  font-size: 18px;
  font-weight: 600;
  color: #1a202c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

:global(.dark) .taskTitle {
  color: #ffffff;
}

.taskParagraph {
  font-size: 14px;
  color: #4b5563;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

:global(.dark) .taskParagraph {
  color: #d1d5db;
}

.columnWrapper {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
}
