.modalTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--text-color);
}
.numbersWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  background: #d1d5db;
}

.numberActive {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

:global(.dark) .number {
  background-color: #4b5563;
}

.formModal {
  display: flex;
  flex-direction: column;
}

.labelModal {
  display: flex;
  flex-direction: column;
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 16px;
  gap: 8px;
}

:global(.dark) .labelModal {
  color: #d1d5db;
}

.inputModal {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  appearance: none;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #374151;
  line-height: 1.25;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

:global(.dark) .inputModal,
:global(.dark) .textareaModal {
  background-color: #374151;
  color: #ffffff;
  border-color: #4b5563;
}

.inputModal:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}

.btNextModal {
  display: flex;
  border: none;
}

.btnModal {
  background: linear-gradient(to right, #3b82f6, #1d4ed8);
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  margin-left: auto;
  outline: none;
  margin-top: 24px;
  border: none;
}

.btnModal:hover {
  background: linear-gradient(to right, #2563eb, #1e40af);
}

.btnModal:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}

.textareaModal {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 1px;
  border-style: solid;
  border-color: #d1d5db;
  border-radius: 0.25rem;
  width: 100%;
  height: 98px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #374151;
  line-height: 1.25;
  font-weight: 500;
  font-size: 16px;

  overflow-wrap: break-word;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.btn-gray {
  background-color: #6b7280;
  color: #ffffff;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 200ms;
  outline: none;
  border: none;
}

.btn-gray:hover {
  background-color: #374151;
  border: none;
}

.btn-gray:focus {
  box-shadow: 0 0 0 2px #9ca3af;
  outline: none;
}

.btn-gradient {
  background-image: linear-gradient(to right, #22c55e, #16a34a);
  color: #ffffff;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition-property: all;
  transition-duration: 200ms;
  margin-left: auto;
  outline: none;
  border: none;
}

.btn-gradient:hover {
  background-image: linear-gradient(to right, #16a34a, #166534);
  border: none;
}

.btn-gradient:focus {
  box-shadow: 0 0 0 2px #22c55e;
  outline: none;
}

.error {
  color: #ef4444;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: none;
  cursor: pointer;
}
:global(.dark) input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Інвертує кольори, => робить іконку календаря білою */
}
-webkit-filter: invert(1);
cursor: pointer;
