.container {
  padding: 24px;
  position: relative;
}

.card {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #1f2937;
}

:global(.dark) .card {
  color: #ffffff;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 8px;
}

:global(.dark) .title {
  color: #e5e7eb;
}

.description {
  color: #374151;
  margin-bottom: 16px;
}

:global(.dark) .description {
  color: #d1d5db;
}

.text {
  font-weight: 500;
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 4px;
}

:global(.dark) .text {
  color: #d1d5db;
}

.span {
  font-weight: 600;
  font-size: 14px;
  color: #4b5563;
}

:global(.dark) .span {
  color: #9ca3af;
}

.btnTrash {
  background: none;
  margin: 0 auto;

  position: absolute;
  right: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 9999px;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

:global(.dark) .btnTrash:hover {
  background-color: #374151;
}

.btnTrash:hover {
  background-color: #e5e7eb;
}

.btnTrash:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

.icon {
  color: black;
  transition: color 0.5s ease;
}

:global(.dark) .icon {
  color: white;
}

.modalContainer {
  padding: 16px;
}
.btnConfirmationWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modalBtn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.modalBtn:hover {
  background-color: rgb(212, 213, 214);
}

.btnTrash:focus {
  outline: none;
}

.modalBtn :focus {
  outline: none;
}

:global(.dark) .modalBtn {
  background-color: white;
}

:global(.dark) .modalBtn:hover {
  background-color: rgb(189, 189, 189);
}
